.lp-container{
    height: 44vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
   
    >h1{
        background: transparent;
        align-self: center;
        
    }
}